.auth-main-container {
  padding-top: 20%;
  height: 100%;
  width: 100%;
  /*background-color: #31B5F1;*/
}

.auth-box-container {
  heigth: 300px;
  width: 500px;
  margin: auto;
  border: solid 1px #434E60;
  background-color: #E7E7E7;
  padding: 30px 50px 30px 50px;
}

.auth-form-container {
}
