.password-reset-message-header {
  padding-top: 15px;
}

.password-reset-message-text {
  padding-top: 30px;
}

.password-reset-message-link {
  padding-top: 30px;
  padding-bottom: 20px;
}
