<section class="welcome-carousel">
  <div class="welcome">
    <div class="welcome-content">
      <h1>
        <span>welcome to the marquis-larson</span>
        digital asset library
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      <p>Commodo consequat. Duis aute irire dolor in reprehend erit in voluptete welit esse cillum dolore eu fudiat nulla pari atur. Excepteur sint occaecat cupidatat non proident.</p>
    </div>
  </div>
  <app-carousel class="carousel-holder"></app-carousel>
</section>
<app-assets [assets]="assets">Featured Assets</app-assets>
