<div class="admin-content-right-panel" >
  <div class="admin-content-right-panel-header" >
    <h4>Add Navigation Item</h4>
  </div>
  <div>
    <form [formGroup]="form" (submit)="save()" >

      <div class="form-control-container" >
        <div class="form-control" >
          <label for="navigation-item-name" >Name</label>
          <input type="text" id="navigation-item-name" formControlName="name" placeholder="Name" maxlength="50" >
        </div>
        <app-validation-message [submitted]="formSubmitted" [control]="form.controls.name" ></app-validation-message>
      </div>

      <div *ngIf="parentNavItem" class="form-control-container" >
        <div class="form-control" >
          <label for="navigation-item-action" >Navigation Action</label>
          <select id="navigation-item-action" formControlName="action" (ngModelChange)="onChangeAction($event)" >
            <option *ngFor="let item of navigationActions" [value]="item">{{ item }}</option>
          </select>
        </div>
      </div>

      <div class="form-control-container" >
        <div class="form-control" >
          <label for="navigation-item-active" >Is Active?</label>
          <input id="navigation-item-active" type="checkbox" formControlName="isActive" > Yes
        </div>
      </div>

      <div *ngIf="isContentAction()" class="form-control-container" >
        <div class="form-control" >
          <label for="navigation-item-tags" >Content Tags</label>
          <select id="navigation-item-tags" formControlName="contentTags" size="5" multiple="multiple" >
            <option *ngFor="let item of tags" [ngValue]="item" >{{ item.name }}</option>
          </select>
        </div>
      </div>

      <div *ngIf="isContentAction()" class="form-control-container" >
        <div class="form-control" >
          <label for="navigation-item-group-by" >Group By</label>
          <select id="navigation-item-group-by" formControlName="group" >
            <option [value]="null" selected="selected" ></option>
            <option *ngFor="let item of tagGroups" [value]="item.id" >{{ item.name }}</option>
          </select>
        </div>
      </div>

      <div *ngIf="isContentUrlAction()" class="form-control-container" >
        <div class="form-control" >
          <label for="navigation-item-url" >URL</label>
          <input type="text" id="navigation-item-url" formControlName="url" placeholder="URL" >
        </div>
        <app-validation-message [submitted]="formSubmitted" [control]="form.controls.url" ></app-validation-message>
      </div>

      <div class="form-buttons-contaner">
        <button type="button" class="btn-secondary" (click)="cancel()"> Cancel</button>
        <button type="submit" class="btn-success" ><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </div>
    </form>
  </div>
</div>
