@import '../../../../assets/scss/variables';

.assets-list-holder {
  padding: {
    top: 25px;
    bottom: 84px;
  }

  @media (min-width: $point-md) {
    padding-top: 35px;
  }
  @media (min-width: $point-lg) {
    padding-top: 50px;
  }

  h3 {
    height: 70px;
    font: 1.14rem/70px $font-futura-hv;
    color: $brand-primary;
    text-transform: uppercase;
    cursor: pointer;

    span {
      display: block;
      position: relative;

      &::after {
        content: '+';
        transform: translateY(-50%);
        font: 1.57rem/70px $font-futura-hv;
        position: absolute;
        top: 50%;
        right: 20px;

        @media (min-width: $point-md) {
          right: 30px;
        }
        @media (min-width: $point-xl) {
          right: 35px;
        }
        @media (min-width: $point-xl + 100px) {
          right: 0;
        }
      }
    }
  }
}

.group-list {
  .list-holder {
    display: none;
  }

  > li {
    &:nth-child(odd) {
      background: #F3F3F3;
    }

    &.active {
      h3 span::after {
        content: '-';
      }
      .list-holder {
        display: block;
      }
    }
  }
}

.assets-list {
  margin: 0 -10px;

  @media (min-width: $point-md) {
    margin: 0 -25px;
  }

  li {
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;

    @media (min-width: $point-sm) {
      width: 50%;
      margin-bottom: 25px;
    }

    @media (min-width: $point-md) {
      padding: 0 25px;
      width: 33.33%;
      margin-bottom: 45px;
    }
    @media (min-width: $point-lg) {
      width: 25%;
    }
    @media (min-width: $point-xl) {
      width: 16.66%;
      margin-bottom: 60px;
    }
  }
}
