$header-height: 52px;
$header-height-lg: 80px;
$nav-height-lg: 55px;

$footer-height: 60px;
$footer-height-lg: 40px;

//Media-points
$point-sm: 360px;
$point-md: 768px;
$point-lg: 1025px;
$point-xl: 1560px;

//Fonts
$font-roboto: 'Roboto', Arial, sans-serif;
$font-futura-hv: 'FuturaHvBT', Arial, sans-serif;
$font-futura-bk-it: 'FuturaBkBTBook', Arial, sans-serif;
$font-sf-ui-text: 'SF UI Text', Arial, sans-serif;

//Colors
$brand-primary: #5A6E7F;
$brand-secondary: #31B5F1;

$light-grey: #F3F3F3;
$dark-grey : #434E60;
