body{
    margin: 0;
    padding: 0;
    min-height: 90%;
}
.navbar {
    border-radius: 0;
}

.navbar {
    color: #00b386 !important;
}

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

.instruction{
    text-align: justify;
}

.validation_error {
    color: #cc0000;
}

#login-hidden-button {
    /*display: none;*/
    display: inline;
}

footer {
    margin: 10px 0 0 0;
    text-align: center;
    background-color: #e5e5e5;
    color: #0f0f0f;
    padding: 10px;
}

#step2_text {
    border: 2px solid red;
    height: 100px;
    width: 300px;
    background-color: red;
    color: red;
}

#step2_text:focus {
    color: black;
}

#step2_text:hover {
    color: white;
}

/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown .dropdown-content {display: block;}
