{% extends "layout.html" %}

{% block title %}
    For cheating
{% endblock %}

{% block main %}
<ul class="list-group">
    <li class="list-group-item">
        <a href="{{ url_for('login') }}">Go to the challenge 1</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('step2') }}">Go to the challenge 2</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('step_breakpoints') }}">Go to the challenge 3</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('step4') }}">Go to the challenge 4</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('step_screencast') }}">Go to the challenge 5</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('step_performance') }}">Go to the challenge 6</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('step_console') }}">Go to the challenge 7</a>
    </li>
    <li class="list-group-item">
        <a href="{{ url_for('step_advance') }}">Go to the challenge advance</a>
    </li>
</ul>
{% endblock %}
