{% extends "layout.html" %}

{% block title %}
    Introduction
{% endblock %}
{% block nav_menu  %}
<li><a class="btn btn-lg btn-default" href="{{ url_for('login') }}">Start the skill up</a></li>
{% endblock %}

{% block main %}
    <div class="text-center">
       <img class="img img-fluid img-rounded" src="{{ url_for('static', filename='pict/index.jpg' ) }}">
    </div>
    <div class="instruction">
        <div class="well instruction">
            <h4>Here you are, young padawan!</h4>
        </div>
        <p>
            You should learn a Chrome DevTools to became a real jedi!<br/>
            In a case you need a help, try to look
            <a href="https://developers.google.com/web/tools/chrome-devtools">Chrome DevTools</a><br/>
            Just press the key F12 and start this adventure by clicking "Star the skill up" in the Menu.
        </p>
    </div>
{% endblock %}