<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="./static/styles.css">

        <script src="./static/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>Chrome Dev Tools skillup {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                          <a class="btn" href="{{ url_for('index') }}"><h4>Chrome Dev Tools Skillup</h4></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        {% if session.user_id %}
                            <ul class="nav navbar-nav">
                                {% block nav_menu  %}
                                {% endblock %}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('login') }}">Start a skill up</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>

            <main>
                <p class="validation_error">
                    {{ error }}
                </p>
                {% block main %}{% endblock %}
            </main>

            <footer class="container-fluid">
                <p>MobiDeb QA Jedi department</p>
                {% block footer %}{% endblock %}
            </footer>
            
        </div>

    </body>

</html>
