{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="text-center">
       <img class="img img-rounded" src="{{ url_for('static', filename='login.png' ) }}">
    </div>
    <div>
        <h3>First step, kido!</h3>
        <p class="instruction">
            1) You need to use your force and "Elements" tab to get a hidden password and login<br/><br/>
            2) Next you need to click "Login" button! It's hidden! How to click a hidden button?<br/>
            In the 'Elements" tab find #login-hidden-button
            and just deselect {display: none;} css attribute in "Styles" tab!
        </p>
       <img class="img img-rounded" src="{{ url_for('static', filename='display_none.png' ) }}">
        <br/><br/>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        <fieldset>
            <div class="form-group login_password">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group login_password">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <button id="login-hidden-button" class="btn btn-default btn-danger" type="submit">Find me for login!</button>
            </div>
        </fieldset>
    </form>
    <div id="credentials" class="hidden">
        Login: force, password: 0504
    </div>
{% endblock %}
