{% extends "layout.html" %}

{% block title %}
    Step 2
{% endblock %}

{% block nav_menu %}
    <!--bootstrap popover-->
    <li>
        <div class="dropdown">
            <button class="btn btn-link dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="#">Broken link 1</a>
                <a href="#">Broken link 2</a>
                <a href="{{ url_for('step_breakpoints') }}">Go to the challenge 3</a>
            </div>
        </div>
    </li>
{% endblock %}

{% block main %}
    <div class="text-center">
       <img class="img img-rounded" src="{{ url_for('static', filename='pict/step2.jpg' ) }}">
    </div>
    <div>
        <div class="well"><h3>Level one is completed!!</h3></div>
        <p class="instruction">
            To proceed to the challenge 3 you need to learn "Force State" and 'Break on" <br/>
            Read here
            <a href="http://blog.teamtreehouse.com/5-great-hidden-features-in-the-chrome-devtools">Force Element State </a><br/>
            <br/>
        </p>
        <p class="instruction">
            1) First, let's use "Force State". Do you see a red block below?<br/>
            Select this block in "Elements" tab (you should select <code>div id=act2</code>), right mouse click on it and select "Force state"<br/>
            Then select ":focus" and read an instruction for the next step<br/>
        </p>
        <div class="breadcrumb">
            "F12" key --> 'Elements" tab --> right click on div id=act2 --> "Force State" --> :focus
        </div>
    </div>
    <div class="row">
        <div id="act2" class="step2_text col-lg-6 col-md-6 col-sm-6">
            <p>2) Great! Now learn how to use "Break on". Find the element ul with id "itemlist_step2", right click on it
                and <b>select "Break on", then "subtree modification"</b><br/>
                Then click "Continue the order" button. If you've done it right the script stops, click F8 to continue.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <button type="button" onclick="addItemToList()" class="btn btn-primary">Continue the order</button>
                    <script>

                    </script>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul id="itemlist_step2" class="list-group">
                        The correct order is
                        <li class="list-group-item">IV A New Hope</li>
                        <li class="list-group-item">V Empires strikes back</li>
                        <li class="list-group-item">VI Return of the Jedi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p id="Instruction3">
    </p>
{% endblock %}
