{% extends "layout.html" %}

{% block title %}
    Step 7
{% endblock %}
{% block nav_menu %}
    <li><a class="btn btn-link"  href="{{ url_for('step_advance') }}">Go to the advance challenge</a></li>
{% endblock %}

{% block main %}
    <div class="text-center">
       <img class="img img-rounded" src="{{ url_for('static', filename='pict/step7.jpg' ) }}">
    </div>
    <div class="instruction">
        <div class="well">
            <h3>You are almost at the finish, it's time to learn a dark force technique!</h3>
        </div>
        <p>
            1) <a href="https://developers.google.com/web/tools/chrome-devtools/console">Read about Console API</a>
            and answer the questions what is the Console, how to open it and what it's for.
            <br> Now you should learn how to listen to the disturbance in the power!
            Open a Console and click a "Buggy button".
        </p>
        <div class="breadcrumb">
            "F12" key --> if you don't see "Console" try to click >> button --> Console
        </div>
        <button class="btn btn-default btn-success" onclick="causeException()">Buggy button</button>
        <p>
            Check out "Console" - there are some logs and an error. First, logs are "This is logs from JS code" -
            this way a developer can print a valuable information from his JS code. If you need some logs - just ask developer
            for it.<br/><br/>
            Do you remember we were looking for the error code in "Source" tab?
            It turns out, that the same error is printed to the Console.
            You even can click <code>at causeException (script.js:39)</code>
            and you will be redirected to the 'Source" tab.
        </p>
        <br/>
        <p>
            2) Sometimes, when you record a video, you need to show to the developer, that you actually clicked an item.
            But how can you print 'click' events in the Console? monitorEvents() function can help you!
            Write a command into the Console to start monitoring 'click' mouse events.
            <a href="https://developers.google.com/web/tools/chrome-devtools/console/events"> Read here how to do it.</a>
        </p>
        <p>
            If monitorEvents() is not enough for you - you can load your own JavaScript to the Console.
            For example, paste this code into the Console:
        </p>
        <div class="well small-well">
        window.addEventListener("click",function(e) {
            console.log(e.type,  e.target);
        });
        </div>
        <p>
            Then click on any UI element. You should see a clicked item in the Console.
        </p>
        <p>
            3) The web page looks good on all screens when you test it.
            But what if some user would publish a very long text on the web site tomorrow?
            How you can test it without manually pasting a long text into web page?
            Read <a href="https://habr.com/company/2gis/blog/246831/">this article</a> about why it's important
            to use JS code for testing blogs, news feeds etc. <br/>
            When ready - copy and paste the code below into the Console.
        </p>
        <div class="well small-well">
            var a,w = document.createTreeWalker(document,NodeFilter.SHOW_TEXT);while(a=w.nextNode()){if(a.textContent.trim().length)a.textContent='Одиннадцатиклассница пошла посмотреть на достопримечательность, она шла долго, несколько строчек, пока не пришла'}
        </div>
        <p class="instruction">
            Congratulations! You've finished this quest. Discuss with your mentor what you learnt from this skill up.
        </p>
        <p class="instruction">
            If you would like to became a jedi master, we invite you to one small advance lesson. Click a link in the menu
        </p>

    </div>
{% endblock %}
