{% extends "layout.html" %}

{% block title %}
    Step 3
{% endblock %}
{% block nav_menu %}
    <li><a class="btn btn-link"  href="{{ url_for('step4') }}">Go to the challenge 4</a></li>
{% endblock %}

{% block main %}
    <div class="text-center">
       <img class="img img-rounded" src="{{ url_for('static', filename='step3.jpeg' ) }}">
    </div>
    <div>
        <h3>Jedi training is tough, but you can do it!</h3>
        <p class="instruction">
            1) Let's go to "Sources" tab and find a "Event Listener Breakpoints"
            <img class="img-responsive mx-auto d-block image-thumbnail" src="{{ url_for('static', filename='eventlistener.png' ) }}">
            <br/>
            2) Select "Mouse" and "click", after that click on any element of the web page.
            Play a little bit with another breakpoints.
            After you're ready to move on, disable them all with button "Deactivate breakpoints".
            <img class="img-responsive mx-auto d-block image-thumbnail" src="{{ url_for('static', filename='break.png' ) }}">
            <br/>
            <br/>
            3) So, your script stops when there is a break point in the JS code.
            Let's find out why we need breakpoints -
            <a href="https://developers.google.com/web/tools/chrome-devtools/javascript/breakpoints">about breakpoints.</a>
            <b> Pay attention to 'Exception Breakpoints" section of the article!</b>
            <br/><br/>
            4) Ok, you are almost a Jedi! Are you ready for the real task? Find what code causes an exception when user clicks
            "Danger button". "Source" tab and breakpoints can help you!<br/>
            <button type="button" class="btn btn-warning btn-large" onclick="causeException()">Danger button</button>
            <br/>
            <br/>
            5) To sum up, tell your mentor what part of JS throws an error and explain why we need breakpoints.<br/>
            When you're done, just click button "Go to challenge 4"
        </p>
    </div>
{% endblock %}
