<div>
  <div class="error-message" >
    <span>{{ errorMessage }}</span>
  </div>
  <form [formGroup]="form" (submit)="reset()" >

    <div class="form-control-container" >
      <div class="form-control" >
        <label for="new-password" >New Password</label>
        <input id="new-password" type="password" formControlName="newPassword" placeholder="New Password" >
      </div>
      <app-validation-message [submitted]="formSubmitted" [control]="form.controls.newPassword" ></app-validation-message>
    </div>

    <div class="form-control-container" >
      <div class="form-control" >
        <label for="confirm-password" >Confirm Password</label>
        <input id="confirm-password" type="password" formControlName="confirmPassword" placeholder="Confirm Password" >
      </div>
      <app-validation-message [submitted]="formSubmitted" [control]="form.controls.confirmPassword" ></app-validation-message>
    </div>

    <div class="form-buttons-contaner">
      <button type="submit" class="btn-success">Reset</button>
    </div>
  </form>
</div>
