<div style="overflow: hidden">
  <div class="admin-content-left-panel" >
    <span>Content Tags</span> <a routerLink="/admin/tags/add" ><i class="fa fa-plus" aria-hidden="true"></i></a>
    <div>
      <tree-root [nodes]="tags"
                 [options]="options"
                 (activate)="onChangeActiveNode($event)" >
        <ng-template #treeNodeTemplate let-node let-index="index">
          <span [ngClass]="{'inactive-item': !node.data.isActive}">{{ node.data.name }}</span>
          <a (click)="deleteConfirm($event, node.data)" ><i class="fa fa-times" aria-hidden="true"></i></a>
        </ng-template>
      </tree-root>
    </div>
  </div>

  <router-outlet (deactivate)="refreshTags()" ></router-outlet>
</div>

<p-confirmDialog header="Delete Confirmation"
                 icon="fa fa-trash"
                 width="425"></p-confirmDialog>
