<div>
  <div class="error-message" >
    <span>{{ errorMessage }}</span>
  </div>
  <form [formGroup]="form" (submit)="reset()" >
    <div class="form-control-container" >
      <div class="form-control" >
        <label for="user-email" >Email</label>
        <input type="text" id="user-email" formControlName="email" placeholder="Email" >
      </div>
      <app-validation-message [submitted]="formSubmitted" [control]="form.controls.email" ></app-validation-message>
    </div>

    <div class="form-buttons-contaner">
      <button type="submit" class="btn-success">Reset Password</button>
    </div>
  </form>
</div>
